<a href="https://colab.research.google.com/github/raimandvi/python-basics/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Assignment operator**

In [1]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)
print("Floor Division:", a // b)
print("Power:", a ** b)

Enter first number: 4
Enter second number: 5
Addition: 9
Subtraction: -1
Multiplication: 20
Division: 0.8
Modulus: 4
Floor Division: 0
Power: 1024

**2. Comparison operator**

In [2]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

Enter first number: 4
Enter second number: 2
x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

**3. Logical Operator**

In [3]:
marks = int(input("Enter marks: "))
attendance = int(input("Enter attendance percentage: "))

if marks >= 40 and attendance >= 75:
    print("Student passed")
else:
    print("Student failed")

Enter marks: 95
Enter attendance percentage: 75
Student passed

**4. Assignment Operator **

In [4]:
a = 10

a += 5
print("After += :", a)

a -= 3
print("After -= :", a)

a *= 2
print("After *= :", a)

a /= 4
print("After /= :", a)

After += : 15
After -= : 12
After *= : 24
After /= : 6.0

**5. Membership Operator**

In [6]:
fruits = ["apple", "banana", "mango"]

print("apple" in fruits)
print("grapes" not in fruits)

True
True

**6. Identity Operator**

In [7]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print("a is b:", a is b)
print("a is c:", a is c)
print("a is not c:", a is not c)

a is b: True
a is c: False
a is not c: True